body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-image: url(../img/blur_benjamin-gremler-qONhYBVNz1c-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
nav{
  position: relative;
  width: 100%;
  height:80px;
  background: "..\img\blur_benjamin-gremler-qONhYBVNz1c-unsplash.jpg";
  background-position: center center;
}
nav header{
  padding: 0 100px;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
nav ul{
  position: :relative;
  margin:0;
  padding:0;
  display: flex;
  float: right;
  transition: 0.5s;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  position: relative;
  display: block;
  padding: 10px 20px;
  margin:20px 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #262626;
  font-weight: bold;
  transition: 0.5s;
}
nav ul li a:hover{
  background: #000;
  color:#fff;
}

.toggle{
  display: none;
  position: absolute;
  right: 10px;
  top:26px;
  background: #07d1ca;
  color:#fff;
  padding:5px;
  cursor:pointer;
  font-weight: bold;
}
@media (max-width:992px){
  .toggle{
    display:block;
  }
  header{
    padding: 0 0;
    background: rgba(255,255,255,0.5);
  }
  header ul{
    width:100%;
    top:-4px;
    display: none;
  }
  header ul.active{
    display:block;
  }
  header ul li a{
    margin:0;
    display: block;
    text-align: center;
    color:#ffff;
    background:rgba(0,0,0,0.5);
  }
}
